.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane > .viewport {  //not .scrollpane but .scroll-pane
-fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.chat-bubble {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.chat-bubble-2 {
    -fx-background-color: rgba(72, 31, 255, 0.5);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-text-fill: white;
}